@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.hero {
  background-image: url("../images/background.png");
  width: 100vw;
  height: 800px;
  background-position: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero nav li {
  padding-right: 15px;
}

.hero nav li:first-child {
  margin-right: 25vw;
}

.hero nav ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  color: black;
  list-style-type: none;
  -ms-flex-direction: row;
      flex-direction: row;
  padding-top: 45px;
}

.hero nav a {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Lato";
  font-weight: bold;
  line-height: 2.375;
  transition-duration: 1s;
}

.hero nav a:hover {
  color: #ed145b;
}

.hero .mache {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  padding-top: 200px;
  color: #FFF;
}

.hero .mache h1 {
  font: 300 46px Lato;
  text-transform: uppercase;
}

.hero .mache h1 span {
  font-weight: 900;
}

.hero .btn-flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 65px;
}

.hero .btn-flex .btn {
  border-radius: 24px;
  background-color: #ed145b;
  padding: 15px 60px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Lato";
  color: #FFF;
  font-weight: bold;
  text-align: center;
  border: none;
  transition: 1s;
}

.hero .btn-flex .btn:hover {
  background-color: transparent;
  border: 1px solid #ed145b;
  color: #ed145b;
}

.pink-bar {
  background-image: url("../images/Pink-bar.png");
  width: 100vw;
  height: 78px;
  line-height: 0;
  background-repeat: no-repeat;
  background-color: #f4f4f4;
}

.pink-line {
  font-size: 22px;
  font-family: "Lato";
  line-height: 1.727;
  color: #FFF;
  text-align: center;
  margin: 0;
}

.pink-line:before {
  content: "";
  display: block;
  border: 1px solid #ed145b;
  width: 200px;
  margin: 38px auto;
}

.psd-ad-height {
  height: 620px;
  -ms-flex-pack: center;
      justify-content: center;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  background-color: #f4f4f4;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.psd-ad-height .psd-ad {
  height: 510px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row .column {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.row .column .title-section1 {
  font-size: 38px;
  font-family: "Lato";
  color: #5a5a5a;
  font-style: italic;
  line-height: 1.368;
  text-align: left;
}

.row .column .play-button {
  margin: 0;
  float: right;
}

.row .column .play-button:hover {
  padding: 5px;
  transition: 0.6s;
}

.row .column .play-button .video-button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
      flex: 1;
  -ms-flex-direction: row;
      flex-direction: row;
}

.row .column .play-button .video-button .text-button {
  font-size: 15px;
  font-family: "Lato";
  color: #ed145b;
  text-transform: uppercase;
  line-height: 2;
  cursor: pointer;
  padding-bottom: 30px;
  margin-top: 8px;
}

.row .column .play-button .video-button img {
  padding: 10px;
  margin-bottom: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.row .mac img {
  width: 1037px;
  height: 633px;
  margin: 0 auto;
}

.title-section {
  font-size: 38px;
  font-family: "Lato";
  color: #5a5a5a;
  font-style: italic;
  line-height: 1.368;
  text-align: center;
  margin-top: 0;
}

.pink-line1 {
  font-size: 15px;
  font-family: "Lato";
  color: #5a5a5a;
  line-height: 2;
  margin: 38px auto;
}

.pink-line1:before {
  content: "";
  display: block;
  border: 1px solid #ed145b;
  width: 200px;
  margin-bottom: 38px;
}

.services .title-section {
  margin-top: 100px;
  margin-bottom: 0;
}

.circle-services {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.circle-services .circle img {
  display: -ms-flexbox;
  display: flex;
  transition: 0.6s;
}

.circle-services .circle img:hover {
  transform: scale(1.1);
}

.circle-services .circle .circle-title {
  color: #ed145b;
  margin-top: 15px;
}

.pink-line-title {
  font-size: 15px;
  font-family: "Lato";
  color: #5a5a5a;
  line-height: 2;
  text-align: center;
  margin: 0;
}

.pink-line-title:before {
  content: "";
  display: block;
  border: 1px solid #ed145b;
  width: 200px;
  margin: 38px auto;
}

.slide {
  background-image: url("../images/background2.png");
  background-size: cover;
  position: relative;
  width: 100%;
  height: 501px;
  margin-top: 120px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slide img {
  margin: 40px;
}

.flex-slide-section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.flex-slide-section .flex-slide {
  font-size: 25px;
  font-family: "Lato";
  color: #FFF;
  font-style: italic;
  line-height: 1.6;
  text-align: center;
}

.prices-section {
  background-color: #f4f4f4;
  margin-top: 0;
}

.prices-section .prices-box {
  text-align: center;
  position: relative;
  margin-top: 20px;
  margin-bottom: 50px;
}

.prices-section .prices-box .row1 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 90px;
  padding-bottom: 120px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.price-box {
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 20px;
}

.price-box .grey-box {
  background-color: #5a5a5a;
  width: 262px;
  height: 150px;
  position: relative;
  padding-top: 30px;
}

.price-box .grey-box p {
  font-size: 20px;
  font-family: "Lato";
  color: #f4f4f4;
  font-weight: bold;
  text-align: center;
  line-height: 0;
  margin: 20px;
}

.price-box .grey-box p span {
  font-size: 50px;
  font-family: "Lato";
  color: #f4f4f4;
  font-weight: bold;
  text-align: center;
}

.price-box .grey-box .button-white {
  border-radius: 25px;
  background-color: #f4f4f4;
  width: 200px;
  height: 50px;
  font-size: 15px;
  font-family: "Lato";
  color: #5a5a5a;
  font-weight: bold;
  line-height: 2.533;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 100%;
  text-transform: uppercase;
  border: 0;
}

.price-box .white-box {
  background-color: #FFF;
  width: 262px;
  height: 343px;
  margin-top: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.price-box .white-box ul li {
  font-size: 15px;
  font-family: "Lato";
  color: #5a5a5a;
  line-height: 2.533;
  list-style-type: none;
}

.button-pink {
  border-radius: 24px;
  background-color: #ed145b;
  padding: 15px 60px;
  font-size: 15px;
  font-family: "Lato";
  color: #f4f4f4;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  transition: 0.6s;
  border: 0;
}

.button-pink:hover {
  background-color: #FFF;
  border: 1px solid #ed145b;
  color: #ed145b;
}

.row2 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row2:first-child {
  padding-top: 50px;
}

.row2:last-child {
  padding-bottom: 100px;
}

.prices-section .title-section {
  padding-top: 100px;
}

.icons-section {
  display: -ms-flexbox;
  display: flex;
}

.icons-section .feature {
  display: -ms-flexbox;
  display: flex;
  margin: 20px 10px;
}

.icons-section .feature img {
  width: 55px;
  height: 55px;
  margin-top: 23px;
}

.icons-section .feature .title-feature {
  padding: 0 10px 0 10px;
}

.icons-section .feature .title-feature h1 {
  font-size: 15px;
  font-family: "Lato";
  color: #ed145b;
  text-transform: uppercase;
  line-height: 2;
  text-align: left;
}

.icons-section .feature .title-feature p {
  font-size: 15px;
  font-family: "Lato";
  color: #5a5a5a;
  line-height: 2;
  text-align: left;
}

.community-bar {
  background-color: #ed145b;
  width: 100%;
  height: 200px;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 120px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.community-bar .community-text {
  -ms-flex: 1;
      flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  color: #FFF;
}

.community-bar .community-text h1 {
  font: 300 46px Lato;
  text-transform: uppercase;
}

.community-bar .community-text h1 span {
  font-weight: 900;
}

.community-bar .community-text .btn-community {
  border-radius: 25px;
  background-color: #FFF;
  width: 200px;
  height: 50px;
  font-size: 15px;
  font-family: "Lato";
  color: #ed145b;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: 0;
  margin-left: 20px;
  transition: 1s;
}

.community-bar .community-text .btn-community:hover {
  background-color: #ed145b;
  border: 1px solid #FFF;
  color: #FFF;
}

.gallery {
  color: #5a5a5a;
}

.gallery h2 {
  text-align: center;
  margin: 0 20%;
}

.gallery .row3 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.gallery .row3 .photo {
  padding: 30px 20px 0 20px;
}

.gallery .row3 .photo:last-of-type {
  margin-right: 0;
}

.gallery .row3 .photo .image {
  line-height: 0;
  position: relative;
  overflow: hidden;
  height: 250px;
  cursor: pointer;
}

.gallery .row3 .photo .description {
  background-color: #f4f4f4;
  padding: 20px;
}

.gallery .row3 .photo .description p {
  font-size: 15px;
  font-family: "Lato";
  font-weight: 300;
}

.gallery .row3 .photo .description h4 {
  font-size: 15px;
  font-family: "Lato";
  font-weight: 300;
  padding-bottom: 15px;
  text-transform: uppercase;
  color: #5a5a5a;
}

.search-ico {
  background: url("../images/search-icon.png");
  height: 45px;
  width: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity .8s ease;
  z-index: 2;
}

.image > img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.image::before {
  content: "";
  background-color: #ed145b;
  width: 200%;
  height: 120%;
  transform: -webkit-rotate(2deg);
  transform: -ms-rotate(2deg);
  transform: rotate(2deg);
  left: -20%;
  top: 0;
  margin-top: 245px;
  transition: 0.8s ease-in;
  position: absolute;
  z-index: 1;
}

.photo:hover .search-ico {
  transition-delay: .4s;
  opacity: 1;
}

.photo:hover .image::before {
  margin-top: -20px;
  background-color: rgba(237, 20, 91, 0.8);
}

.center-arrow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  background: none;
}

.center-arrow img {
  width: 15px;
  height: 15px;
  margin-top: 40px;
}

.downArrow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 70px;
  -ms-flex-direction: column;
      flex-direction: column;
}

.downArrow button {
  border: none;
  cursor: pointer;
}

.downArrow p {
  text-align: center;
  color: #ed145b;
  text-transform: uppercase;
  font-family: "Lato";
  font-weight: bold;
}

.bounce {
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.psd-template {
  background-image: url("../images/background3.png");
  background-size: cover;
  position: relative;
  width: 100%;
  height: 650px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-position: center;
}

.psd-template .flex-center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.psd-template .flex-center button {
  margin: 30px auto 0 auto;
}

.psd-template .flex-center button:hover {
  background-color: transparent;
  border: 1px solid #ed145b;
  color: #ed145b;
}

.psd-template .flex-center p {
  color: #FFF;
}

.psd-template .flex-center h1 {
  color: #FFF;
}

.download-section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
      flex: 1;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 80px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.download-section img {
  margin-right: 50px;
}

.download-section .download-text h1 {
  text-align: left;
}

footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
      flex: 1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  background-color: #2b2b2b;
  color: white;
  width: 100%;
  padding: 25px;
  margin-top: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1199px) {
  .pink-bar {
    background-image: none;
  }
  .psd-ad-height {
    height: 500px;
    -ms-flex-pack: center;
        justify-content: center;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0;
    background-color: #f4f4f4;
  }
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .row .column {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .row .column .title-section1 {
    font-size: 38px;
    font-family: "Lato";
    color: #5a5a5a;
    font-style: italic;
    line-height: 1.368;
    text-align: center;
  }
  .row .column .p-flex p {
    text-align: center;
  }
  .row .column .play-button {
    margin: 0;
    float: right;
    display: -ms-flexbox;
    display: flex;
    margin: 20px auto;
  }
  .row .mac img {
    display: none;
  }
  .pink-line1 {
    font-size: 15px;
    font-family: "Lato";
    color: #5a5a5a;
    line-height: 2;
    text-align: center;
    margin: 0;
  }
  .pink-line1:before {
    content: "";
    display: block;
    border: 1px solid #ed145b;
    width: 200px;
    margin: 38px auto;
  }
  .community-bar .community-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .community-bar .community-text h1 {
    font: 300 36px Lato;
    text-transform: uppercase;
  }
  .community-bar .community-text h1 span {
    font-weight: 900;
  }
  .community-bar .community-text button {
    margin-top: 10px;
  }
  .psd-template {
    background-image: url("../images/background3.png");
    background-size: cover;
    position: relative;
    width: 100%;
    height: 500px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    margin-top: 50px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-position: center;
  }
  .psd-template .flex-center {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .psd-template .flex-center button {
    margin: 30px auto 0 auto;
  }
  .psd-template .flex-center button:hover {
    background-color: transparent;
    border: 1px solid #ed145b;
    color: #ed145b;
  }
  .psd-template .flex-center p {
    color: #FFF;
  }
  .psd-template .flex-center h1 {
    color: #FFF;
  }
  .download-section img {
    display: none;
  }
  .download-section .download-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .download-section .download-text h1 {
    text-align: center;
  }
  .download-section .download-text button {
    margin: 30px auto;
  }
}
/*# sourceMappingURL=style.prefixed.css.map */