body * {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
}

.menu-header {


    li {
        padding-right: 15px;
        &:first-child {
            margin-right: 640px;
        }
    }


    ul {
        display: flex;
        justify-content: flex-end;
        color: black;
        list-style-type: none;
        flex-direction: row;
        padding-top: 45px;
        padding-right: 430px;
    }



    a {
        color: #FFF;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
        font-family: "Lato";
        font-weight: bold;
        line-height: 2.375;
    }
}

li .activate {
    color: #ed145b;
}





.hero {
    background-image: url("../images/background.png");
    background-size: cover;
    position: relative;
    width: 100%;
    height: 800px;
}

.mache {
    display: flex;

    justify-content: center;
    padding-top: 200px;
}

.p-flex {
    display: flex;
    justify-content: center;
}

.pink-line {
    padding-top: 35px;
    font-size: 22px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    line-height: 1.727;
    text-align: center;
}

.pink-line:before {

    content: "";
    display: block;
    border: 1px solid #ed145b;
    width: 200px;
    margin: 38px auto;
}

.btn-flex {
    display: flex;
    justify-content: center;
    margin-top: 65px;
}

.btn {
    border-radius: 24px;
    background-color: rgb(237, 20, 91);
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    transition: transform 1s;
    font-size: 15px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 2.533;
    text-align: center;
    border: none;
}

.pink-bar {
    background-image: url("../images/Pink-bar.png");
    width: 100%;
    height: 78px;
    margin: 0;
    line-height: 0;
    background-repeat: no-repeat;
}

.title-section {

    font-size: 38px;
    font-family: "Lato";
    color: rgb(90, 90, 90);
    font-style: italic;
    line-height: 1.368;
}

.flex-container {
    display: flex;
}